

.footer {
    background-color: #2d0808;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
}


.footer-container__body {
    padding-top: 1rem;
    padding-bottom: 1em;
}

.footer-container__title {
    font-size: .75em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer-container__text {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

/* ntm*/

.footer-container__link{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}