

.parallax .contact-img {
    background-image: url("/img/L04.png");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-text__title {
    padding: 4%;
    text-align: center;
    font-size: 5em;
}

.contact-text__p{
    padding: 2% 5% 2% 5%;
    font-size: 1.5em;
    margin-left: 7%;
    margin-right: 7%;
}

.form-container {
    padding: 2%;
    margin: 2%;
}

.form{
    align-self: center;
}

.form-item__p {
    color: black;
    font-size: 3em;
}

.input{

}

