.parallax{
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-contact{
    background-image: url("/img/L01.png");
}
.contact-text__title {
    padding-top: 7%;
    text-align: center;
    font-size: 5em;
}

.contact-text__p {
    padding: 2% 5% 2% 5%;
    font-size: 1.5em;
    margin: 0 7% 0 7%;
    text-align: start;
}

.form-container {
    padding: 2%;
    margin: 2%;
}

.form {
    margin: 0 auto;
    width: 70%;
    align-items: center;
    display: block;
}

.form-text {
    font-size: 2em;
}

.form-item {
    padding-top: 3%;
    padding-bottom: 3%;
}

.form-item__p {
    color: black;
    font-size: 2em;
}

#msgvalidationnom{
font-size: large;
}

#msgvalidationemail{
    font-size: large;
}

#msgvalidationphone{
    font-size: large;
}

#msgvalidationage{
    font-size: large;
}

.input {
    height: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-btn{
    height: 100px;
    background-color: #9D0208;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
    margin-right: 25%;
    margin-bottom: 10%;
    font-size: 2em;
}
