.header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #2d0808;
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-nav__logo{
    padding: 30px;
    width: 100%;
    height: min-content;
}

.main-nav__logo img{
    width: 50px;
    height: 50px;
}

.about-container__img{
    width: 50px;
    height: 50px;
}

.main-nav__list{
    display: flex;
    height: inherit;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    font-size: clamp(1.5vw,1em,1vw);
    a{
        color: white;
    }
}
