@media screen and (max-width: 768px) {
    .footer-container{
        flex-direction: column;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
    }

    .grid-box{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
    }

    .intro-text__p{
        font-size: 1em;
    }

    .about-container__h3{
        padding-left: 1%;
        font-size: 1em;
    }

    .about-container__p{
        font-size: 1em;
        padding-left: 4%;
    }
    .about-container__text{
        height: 290px;
    }
}
